@keyframes coba {
    0% {
        filter: grayscale(100%)
    }
}



html,
body {
    border: 0px;
    margin: 0px;
    padding: 0px;
    color: rgba(255, 255, 255, 0.993);
    font-family: 'Comfortaa', cursive;
    background: rgba(0, 0, 0, 0.938) url("https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg?cs=srgb&dl=pexels-lucie-liz-3165335.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: coba 0.5s;

}

a:link {
    text-decoration: none;
}

.container {
    background: rgba(68, 68, 68, 0.582);
    width: 100vw;
    height: 100vh;
    display: flex;
    transition: 2s;
    overflow: auto;
}

.list {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-flow: column;

}

span {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.527);
    padding: 10px 20px;
    border-radius: 20px;
}

.box-list-title {
    width: 100%;
    margin: 0px 20px 20px 35px;
    font-weight: bold;
}

.box-list {
    width: 100%;
    margin: 0px 20px 30px 20px;
    display: flex;
    flex-wrap: wrap;

}

.game {
    background-color: rgb(255, 251, 251);
    color: rgb(0, 0, 0);
    /* width: 150px; */
    height: 330px;
    margin: 10px 0px 20px 20px;
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
    padding: 5px 7px;
}



.game:hover {
    transform: scale(1.1);
    margin: 10px 30px 5px 30px;
    transition: 0.5s;

}



.img-list {
    width: 100%;
    height: 240px;
    border-radius: 5px;
    filter: saturate(60%);
    object-fit: cover;
}


.img-list:hover {
    transition: 0.5s;
    filter: brightness(100%) saturate(90%);
}



.game-list-title {
    height: 30px;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    font-size: 0.8rem;
    font-weight: bold;
    word-spacing: 1px;
}

.game-list-author {
    background-color: rgba(45, 172, 13, 0.747);
    width: auto;
    display: inline;
    color: rgb(255, 255, 255);
    padding: 6px 10px;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 15px;
}


.box-preview {
    width: 25%;
    margin: 75px 40px;
    box-sizing: border-box;
    text-align: center;
}

.img-preview {
    width: 100%;
    height: auto;
    box-shadow: -1px -2px 11px rgba(255, 255, 255, 0.336);
    border-radius: 5px;
}

.img-preview-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
    padding: 0px;
}

.btn {
    width: 60px;
    height: 40px;
    margin: 6px 6px;
    border: 0px;
    border-radius: 18px;
    box-shadow: -1px -2px 8px rgba(255, 255, 255, 0.137);
    font-weight: bold;
}

.btn:hover {
    transform: scale(1.2);
    margin: 6px 10px;
    transition: 0.5s;
}

.edit {
    background-color: rgba(255, 255, 255, 0.849);
    color: rgb(0, 0, 0)
}

.delete {
    background-color: rgba(218, 2, 2, 0.849);
    color: rgb(255, 255, 255);
}

.chart {
    background-color: rgba(48, 187, 6, 0.849);
    color: rgb(255, 255, 255);
    width: 170px;
}

.remove {
    background-color: rgba(187, 6, 163, 0.849);
    color: rgb(255, 255, 255);
    width: 100px;
}

.restore {
    background-color: rgba(6, 145, 187, 0.849);
    color: rgb(255, 255, 255);
    width: 100px;
}

@keyframes show {
    0% {
        opacity: 0;
        left: 100%;
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.box-edit {
    background: rgb(0, 0, 0, 0.6);
    color: black;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
    padding: 20px;
    margin: 0;
}

.box-edit-content {
    animation: show 0.8s;
    width: 70%;
    height: 70%;
    /* background-color: rgb(255, 255, 255); */
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    border-radius: 18px;
    display: flex;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.blur {
    filter: blur(15px);
}

.grayscale {
    filter: grayscale(100%);
}


.edit-left {
    /* background-color: rgb(170, 255, 0); */
    width: 50%;
}

.edit-right {
    /* background-color: yellow; */
    color: white;
    font-weight: bold;
    text-align: center;
    width: 40%;
}

.wrapper {
    background-color: white;
    height: 300px;
    width: 500px;
    position: absolute;
    top: 45%;
    left: 6%;
    border-radius: 15px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.507);
    padding: 5px;
    z-index: 999;

}

.wrapper-potrait {
    padding: 5px;
    background-color: white;
    height: 600px;
    position: absolute;
    border-radius: 15px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.507);

}

.img-edit {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;

}

.img-edit-potrait {
    width: 320px;
    height: 600px;
    object-fit: cover;
}


input {
    width: 400px;
    height: 40px;
    margin: 10px 0px;
    padding-left: 10px;
    border-radius: 6px;
    ;
}

textarea {
    width: 400px;
    height: 200px;
    margin: 10px 0px;
    resize: none;
    padding-left: 10px;
}

.add {
    border: none;
    background-color: rgb(9, 129, 15);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.507);

}

.cancel {
    margin-top: 0px;
    border: none;
    background-color: rgb(197, 11, 11);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.507);

}


.update {
    margin-top: 0px;
    border: none;
    background-color: rgb(173, 171, 5);
    color: black;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.507);

}


#logout {
    width: 50px;
    height: 50px;
    object-fit: cover;
    position: fixed;
    top: 92%;
    left: 95%;

}

#logout:hover {
    transition: 2s;
    transform: rotate(360deg);
    filter: grayscale(100%);
}



/* @media screen and (max-width: 800px) {
    .container {
        background: red;
    }
} */